*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f4f4f4;
}

h1, h4{
    text-align: center;
    margin: 1rem;
}

p{
    text-align: center;
    margin: 1rem;
}

.images{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.img{
    border-radius: 7px;
    width: 100%;
}



@media(max-width:750px){
    .images{
        display: block;
    }

    .img{
        width: 100%;
    }
}